<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/u25</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">lovo1234</property>
		<!-- 配置方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 是否在控制台打印sql语句 -->
		<property name="show_sql">true</property>
		<!-- 是否格式化sql语句 -->
		<property name="format_sql">true</property>
		
		<!-- 引入实体映射文件，可以写多个 -->
		<mapping resource="com/web/hbm/User.hbm.xml"/>
		<mapping resource="com/web/hbm/Menu.hbm.xml"/>
		<mapping resource="com/web/hbm/Dept.hbm.xml"/>
		<mapping resource="com/web/hbm/Employee.hbm.xml"/>
		<mapping resource="com/web/hbm/Job.hbm.xml"/>
		<mapping resource="com/web/hbm/Role.hbm.xml"/>
		<mapping resource="com/web/hbm/RoleMenu.hbm.xml"/>
		<mapping resource="com/web/hbm/MenuVo.hbm.xml"/>
	</session-factory>
</hibernate-configuration>